.login{  
    width: auto;  
    overflow: hidden;  
    margin: auto;  
    padding: 80px;  
    background: rgba(241, 130, 81,0.75);
    border-radius: 15px ;  
    text-align: center;
}  

.create{  
    width: auto;  
    overflow: hidden;  
    margin: auto;  
    padding: 80px;  
    background: rgba(81, 196, 241, 0.75);
    border-radius: 15px ;  
    text-align: center;
}  

label{  
    color: black;  
    font-size: 17px;
}  

#Uname, #pw, #cpw, #Dname{  
    margin-top: 5px;  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;   
}   

#submit{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;  
}  

.bad{
    color: red;
    background-color: white;
}

table {
    border-collapse: collapse;
    margin: 15 0;
  }
  
  
  table, th, td {
    border: 3px solid #CDCDCD;
    font-size: 30px;
  }
  
  th {
    background-color: #AAAAAA;
    padding: 10 13;
  }
  
  td {
    font-size: 30px;
    padding: 10 13;
  }